.idea/

# MacOS specific files
*.DS_Store

# FITS image files and metadata
*.zip
*.fit
*.fits

*_log.txt
*.gif
*.xml

# Master calibration images
!master_bias-*.fits
!master_dark-*.fits
!master_flat-*.fits
